<li class="list-group-item">
  <div style="min-width: 290px;">
    <span (click)="deleteNode()" title="delete node" class="xNode">X</span>
    <a class="me-3" href="#" *ngFor="let name of node.names">{{name}} <span title="delete parent"
        (click)="deleteParent(name.trim())" class="X">X</span></a>
    <div class="input-group top-0 start-50 mt-2 translate-middle-x" style="max-width: 240px; min-width: 240px;">
      <span class="input-group-text" id="basic-addon1">name</span>
      <input type="text" #newName class="form-control" placeholder="name" aria-label="Name" aria-describedby="basic-addon1">
    </div>
    <div class="row">
      <div class="col-sm-12 mt-2">
        <button class="btn me-2 btn-success button" type="button" (click)="addParent(newName.value.trim())">Add
          parent</button>
        <button class="btn me-2 btn-danger button" type="button" (click)="addSiblin(newName.value.trim())">Add
          siblin</button>
        <button class="btn me-2 btn-primary button" type="button" (click)="addChild(newName.value.trim())">Add
          child</button>
      </div>
    </div>
    <ul class="list-group list-group-horizontal position-relative overflow-auto w-100" *ngIf="node.children.length>0">
      <li class="list-group-item" *ngFor="let child of node.children">
        <div>
          <app-family-card [node]="child"></app-family-card>
        </div>
      </li>
    </ul>
  </div>
</li>