<li class="list-group-item">
  <div style="min-width: 290px;">
    <svg (click)="deleteNode()" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash xNode" viewBox="0 0 16 16">
      <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
      <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
    </svg>
    <a class="me-3" href="#" *ngFor="let name of node.names">{{name}}
      <svg (click)="deleteParent(name.trim())"  xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash X" viewBox="0 0 16 16">
        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
      </svg></a>
    <form class="" #userForm="ngForm" (ngSubmit)="addRelation(userForm)">
      <div class="input-group top-0 start-50 mt-2 translate-middle-x" style="max-width: 240px; min-width: 240px;">
        <span class="input-group-text" id="basic-addon1" [ngStyle]="{borderColor: !isValidFormSubmitted ? 'red': ''}">relation</span>
        <input type="text" [(ngModel)]="newName" name="newName" [ngStyle]="{borderColor: !isValidFormSubmitted ? 'red': ''}" class="form-control" placeholder="name">
      </div>
      <div class="">
        <div class="d-inline-block me-1">
          <button class="btn mb-4 me-2 btn-success button">+ relation</button>
        </div>
        <div class="mt-2 me-2 d-inline-block">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="relitionType" [ngModel]="relitionType" #relitionTypeValid="ngModel" [id]="'exampleRadios1' + time" value="parent">
            <label class="form-check-label" [for]="'exampleRadios1' + time">
              Parent
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="relitionType" [ngModel]="relitionType" #relitionTypeValid="ngModel" [id]="'exampleRadios2' + time" value="siblin">
            <label class="form-check-label" [for]="'exampleRadios2' + time">
              Siblin
            </label>
          </div>
        </div>
        <div class="mt-2 h-75 d-inline-block">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="relitionType" [ngModel]="relitionType" #relitionTypeValid="ngModel" [id]="'exampleRadios3' + time" value="child">
            <label class="form-check-label" [for]="'exampleRadios3' + time">
              Child
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="relitionType" [ngModel]="relitionType" #relitionTypeValid="ngModel" [id]="'exampleRadios4' + time" value="partner">
            <label class="form-check-label" [for]="'exampleRadios4' + time">
              partner
            </label>
          </div>
        </div>
      </div>
    </form>
    <ul class="list-group list-group-horizontal position-relative overflow-auto w-100" *ngIf="node.children.length>0">
      <li class="list-group-item" *ngFor="let child of node.children">
        <div>
          <app-family-card [node]="child"></app-family-card>
        </div>
      </li>
    </ul>
  </div>
</li>