<div class="container-fluid border border-3">
  <div class="row">
    <div class="tree">
      <ul class="list-group list-group-horizontal position-relative overflow-auto w-100">
        <app-family-card [node]="family" (addParentRoot)="addParentRoot($event)"></app-family-card>
      </ul>
    </div>
  </div>
</div>
<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>

<!--div class="container-fluid border border-3">
  <div class="row">
    <div class="tree">
      <ul class="list-group list-group-horizontal position-relative overflow-auto w-100">
        <ng-container *ngTemplateOutlet="recursiveListTmpl; context:{ family: family, children: family.children }">
        </ng-container>

      </ul>
    </div>
  </div>
</div>

<ng-template #recursiveListTmpl let-family="family" let-children="children">
  <li class="list-group-item"> 
    <a class="me-3" href="#" *ngFor="let name of family.names">{{name}}</a>
    <div class="row" >
      <div class="col-sm-12 mt-2">
        <input #newName class="border border-2" placeholder="name" type="text">
      </div>
    </div>
    <div class="row" style="min-width: 300px;">
      <div class="col-sm-12 mt-2">
        <button class="btn me-2 btn-success" type="button" (click)="deleteParent(family, newName.value)"> parent</button>
        <button class="btn me-2 btn-success" type="button" (click)="addParent(family, newName.value)">Add parent</button>
        <button class="btn me-2 btn-danger" type="button" (click)="addSiblin(family, newName.value)">Add siblin</button>
        <button class="btn me-2 btn-primary" type="button" (click)="addChild(family, newName.value)">Add child</button>
      </div>
    </div>
    <ul class="list-group list-group-horizontal position-relative overflow-auto w-100" *ngIf="children.length>0">
      <li class="list-group-item" *ngFor="let child of children">
        <div>
          <ng-container *ngTemplateOutlet="recursiveListTmpl; context:{ family: child, children: child.children }">
          </ng-container>
        </div>
      </li>
    </ul>
  </li>
</ng-template>

<!--
<div class="container">
  <div class="row">
    <!--
We will create a family tree using just.
The markup will be simple nested lists

    <div class="tree">
      <ul>
        <li>
          <ul>
            <li>
              <a href="#">Parent</a>
            </li>
          </ul>
          <ul>
            <li>
              <a href="#">Parent</a>
            </li>
          </ul>
          <ul>
            <li>
              <a href="#">Child</a>
              <ul>
                <li>
                  <a href="#">Grand Child</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#">Child</a>
              <ul>
                <li><a href="#">Grand Child</a></li>
                <li>
                  <a href="#">Grand Child</a>
                  <ul>
                    <li>
                      <a href="#">Great Grand Child</a>
                    </li>
                    <li>
                      <a href="#">Great Grand Child</a>
                    </li>
                    <li>
                      <a href="#">Great Grand Child</a>
                    </li>
                  </ul>
                </li>
                <li><a href="#">Grand Child</a></li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>-->